USE [master]
GO
/****** Object:  Database [DateTimeDatabase]    Script Date: 9/19/2021 8:41:48 AM ******/
CREATE DATABASE [DateTimeDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DateTimeDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DateTimeDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DateTimeDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DateTimeDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DateTimeDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DateTimeDatabase]
GO
/****** Object:  Table [dbo].[Birthdays]    Script Date: 9/19/2021 8:41:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Birthdays](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[BirthDate] [date] NULL,
 CONSTRAINT [PK_Birthdays] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Events]    Script Date: 9/19/2021 8:41:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Events](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 9/19/2021 8:41:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Duration] [time](7) NULL,
	[Title] [nvarchar](max) NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person1]    Script Date: 9/19/2021 8:41:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person1](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[BirthDate] [date] NULL,
 CONSTRAINT [PK_Person1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Room]    Script Date: 9/19/2021 8:41:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Room](
	[RoomIdentifier] [int] IDENTITY(1,1) NOT NULL,
	[Identifier] [int] NULL,
	[StartDate] [datetime2](7) NULL,
	[StartTime] [datetime2](7) NULL,
 CONSTRAINT [PK_Room] PRIMARY KEY CLUSTERED 
(
	[RoomIdentifier] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 9/19/2021 8:41:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SaleDate] [datetime2](7) NULL,
	[ShipCountry] [int] NULL,
 CONSTRAINT [PK_Sales] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeTable]    Script Date: 9/19/2021 8:41:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeTable](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[StartTime] [time](7) NULL,
	[EndTime] [time](7) NULL,
 CONSTRAINT [PK_TimeTable] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Birthdays] ON 

INSERT [dbo].[Birthdays] ([Id], [FirstName], [LastName], [BirthDate]) VALUES (1, N'Eugene', N'Hancock', CAST(N'1963-01-15' AS Date))
INSERT [dbo].[Birthdays] ([Id], [FirstName], [LastName], [BirthDate]) VALUES (2, N'Darcy', N'Montgomery', CAST(N'1989-09-27' AS Date))
INSERT [dbo].[Birthdays] ([Id], [FirstName], [LastName], [BirthDate]) VALUES (3, N'Randal', N'Garza', CAST(N'2015-07-20' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Birthdays] OFF
SET IDENTITY_INSERT [dbo].[Events] ON 

INSERT [dbo].[Events] ([EventID], [StartDate], [EndDate]) VALUES (1, CAST(N'2017-01-01T06:34:12.000' AS DateTime), CAST(N'2007-01-01T12:45:34.000' AS DateTime))
INSERT [dbo].[Events] ([EventID], [StartDate], [EndDate]) VALUES (2, CAST(N'2017-01-02T09:23:08.000' AS DateTime), CAST(N'2007-01-02T09:45:34.000' AS DateTime))
INSERT [dbo].[Events] ([EventID], [StartDate], [EndDate]) VALUES (3, CAST(N'2017-01-03T09:30:08.000' AS DateTime), CAST(N'2007-01-02T13:45:34.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Events] OFF
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([Id], [Duration], [Title]) VALUES (1, CAST(N'03:30:00' AS Time), N'Aliens extended')
INSERT [dbo].[Movies] ([Id], [Duration], [Title]) VALUES (2, CAST(N'00:45:00' AS Time), N'Second movie')
INSERT [dbo].[Movies] ([Id], [Duration], [Title]) VALUES (3, CAST(N'01:20:00' AS Time), N'Third movie')
SET IDENTITY_INSERT [dbo].[Movies] OFF
SET IDENTITY_INSERT [dbo].[Person1] ON 

INSERT [dbo].[Person1] ([Id], [FirstName], [LastName], [BirthDate]) VALUES (1, N'Karen', N'Payne', CAST(N'1956-09-24' AS Date))
INSERT [dbo].[Person1] ([Id], [FirstName], [LastName], [BirthDate]) VALUES (2, N'Jim', N'Smith', CAST(N'1960-06-01' AS Date))
INSERT [dbo].[Person1] ([Id], [FirstName], [LastName], [BirthDate]) VALUES (3, N'Mary', N'Perkins', CAST(N'2000-03-12' AS Date))
SET IDENTITY_INSERT [dbo].[Person1] OFF
SET IDENTITY_INSERT [dbo].[Room] ON 

INSERT [dbo].[Room] ([RoomIdentifier], [Identifier], [StartDate], [StartTime]) VALUES (1, 100, CAST(N'2020-04-19T04:49:36.0000000' AS DateTime2), CAST(N'2020-04-19T04:49:36.0000000' AS DateTime2))
INSERT [dbo].[Room] ([RoomIdentifier], [Identifier], [StartDate], [StartTime]) VALUES (2, 100, CAST(N'2020-06-01T12:00:00.0000000' AS DateTime2), CAST(N'2020-06-01T12:00:00.0000000' AS DateTime2))
INSERT [dbo].[Room] ([RoomIdentifier], [Identifier], [StartDate], [StartTime]) VALUES (3, 100, CAST(N'2020-06-01T13:00:00.0000000' AS DateTime2), CAST(N'2020-06-01T13:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Room] OFF
SET IDENTITY_INSERT [dbo].[Sales] ON 

INSERT [dbo].[Sales] ([Id], [SaleDate], [ShipCountry]) VALUES (1, CAST(N'2021-06-17T05:01:53.3166667' AS DateTime2), 1)
INSERT [dbo].[Sales] ([Id], [SaleDate], [ShipCountry]) VALUES (2, CAST(N'2021-06-17T05:01:56.9800000' AS DateTime2), 4)
INSERT [dbo].[Sales] ([Id], [SaleDate], [ShipCountry]) VALUES (3, CAST(N'2021-06-27T05:01:59.4100000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Sales] OFF
SET IDENTITY_INSERT [dbo].[TimeTable] ON 

INSERT [dbo].[TimeTable] ([id], [FirstName], [LastName], [StartTime], [EndTime]) VALUES (1, N'Jeanine', N'Abbott', CAST(N'09:00:00' AS Time), CAST(N'10:00:00' AS Time))
INSERT [dbo].[TimeTable] ([id], [FirstName], [LastName], [StartTime], [EndTime]) VALUES (2, N'Lester', N'Lam', CAST(N'08:00:00' AS Time), CAST(N'11:00:00' AS Time))
INSERT [dbo].[TimeTable] ([id], [FirstName], [LastName], [StartTime], [EndTime]) VALUES (3, N'Claire', N'Cowan', CAST(N'15:45:00' AS Time), CAST(N'19:45:00' AS Time))
SET IDENTITY_INSERT [dbo].[TimeTable] OFF
ALTER TABLE [dbo].[Sales] ADD  CONSTRAINT [DF_Sales_SaleDate]  DEFAULT (getdate()) FOR [SaleDate]
GO
USE [master]
GO
